.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
    align-items: center;

}

.bottom-container{
    display: flex;
    flex-direction: column;

}

.input{
    height: 20px;
    width: 200px;
}

.label {
    margin-bottom: 10px;
}

.textarea {
    height: 100px;
    width: 200px;
}

.button{
    margin-top: 10px;

}
